/* styles.css */
.color-index-1 {
    background-color: #ff9c9c;
}
.color-index-2 {
    background-color: #f7c698;
}
.color-index-3 {
    background-color: #fde388;
}
.color-index-4 {
    background-color: #bbd7f8;
}
.color-index-5 {
    background-color: #d9a8cc;
}
.color-index-6 {
    background-color: #f8d6c8;
}
.color-index-7 {
    background-color: #89e1db;
}
.color-index-8 {
    background-color: #97a6f9;
}
.color-index-9 {
    background-color: #ff9ecc;
}
.color-index-10 {
    background-color: #b7edbe;
}
.color-index-11 {
    background-color: #e6dbfc;
}
