<?xml version="1.0" encoding="utf-8" ?>
<odoo>
<!-- Audit Menu -->
<menuitem id="menu_management_audit" name="Audit" parent="menu_mgmtsystem_root" sequence="10"/>

<!-- Evaluation Menu -->
<menuitem id="menu_management_evaluation" name="Evaluation" parent="menu_mgmtsystem_root" sequence="20"/>

<!-- Inventory Menu -->
<menuitem id="menu_management_inventory" name="Inventory" parent="menu_mgmtsystem_root" sequence="30"/>

<!-- Reporting Menu -->
<menuitem id="menu_management_reporting" name="Reporting" parent="menu_mgmtsystem_root" sequence="40"/>

<!-- Configuration Menu -->
<menuitem id="menu_management_configuration" name="Configuration" parent="menu_mgmtsystem_root" sequence="50"/>
<menuitem id="menu_configuration_settings" name="Settings" parent="menu_mgmtsystem_configuration" sequence="10"/>
<menuitem id="menu_configuration_systems" name="Systems" parent="menu_mgmtsystem_configuration" action="system_action" sequence="20"/>
<menuitem id="menu_configuration_audit" name="Audit" parent="menu_mgmtsystem_configuration" sequence="30"/>
<menuitem id="menu_configuration_risk" name="Risk" parent="menu_mgmtsystem_configuration" sequence="40"/>

</odoo>
